name: Lint PR name

on:
  pull_request:
    branches: [master]
    types: [opened, edited, synchronize, reopened]

jobs:

  lint-PR-name:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install @commitlint/config-conventional@16.0.0

      - uses: JulienKode/pull-request-name-linter-action@v0.5.0
        with:
          configuration-path: '.github/commitlint.config.js'
